@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,600;0,700;1,600&display=swap");
* {
  padding: 0;
  font-size: 18px;
}

.card {
  background: rgb(6, 17, 33);
  color: #fff;
}
.card .result {
  border: 1px solid #ccc;
  min-height: 40px;
  border-radius: 8px;
  background: #fff;
  color: #000;
}
.card .card-body {
  padding-bottom: 0;
}
.card .card-body .result_currency {
  display: flex;
  align-items: center;
}
.card .card-body .result_currency .iso {
  margin-left: 10px;
  text-transform: uppercase;
  font-weight: 500;
}
.card .card-body .form-group .cm-phone-num {
  padding: 10px 20px;
  background-color: rgb(136, 186, 226);
  display: inline-block;
}
.card .card-body .form-group .msg-details {
  text-transform: uppercase;
}
.card .card-footer .small {
  font-size: 14px;
}

@media (max-width: 767px) {
  .card .card-body .amount_crypto_currency {
    flex-wrap: wrap;
  }
  .card .card-body .amount_crypto_currency .amount {
    width: 50% !important;
  }
  .card .card-body .amount_crypto_currency .currencies {
    width: 70% !important;
    margin-top: 10px;
  }
  .card .card-body .amount_crypto_currency .crypto {
    margin-top: 10px;
    width: 70% !important;
  }
  .card .card-body .result_currency .result {
    width: 50% !important;
  }
  .card .card-body .select-network-buy {
    flex-direction: column;
  }
  .card .card-body .select-network {
    flex-direction: column;
  }
  .card .card-body .select-network .form-check label {
    font-size: 0.7rem;
  }
  .card .card-body .wallet-address {
    width: 100% !important;
  }
  .card .card-body .mob-banking {
    flex-direction: column;
  }
  .card .card-body .your-mob-number {
    width: 60% !important;
  }
  .card .card-body .email {
    width: 100% !important;
  }
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.contact-body {
  padding: 4rem 0;
}
.contact-body .opinion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact-body .opinion h2 {
  color: #fff;
  margin-bottom: 30px;
}
.contact-body .opinion p {
  color: #fff;
}
.contact-body .contact-form {
  padding: 40px;
  border-radius: 10px;
  background: #ccc;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

@media (max-width: 767px) {
  .contact-body {
    padding: 2rem 1rem;
  }
  .contact-body .opinion h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .contact-body .opinion .para {
    font-size: 1rem;
  }
  .contact-body .contact-form {
    margin-top: 30px;
    padding: 20px;
  }
}
* {
  padding: 0;
  font-size: 18px;
}

.about-main {
  padding: 120px 0;
  background-image: url(../assets/images/WhatsApp_Image_2022-11-17_at_10.58.31_PM-removebg-preview.png);
  background-size: cover;
}
.about-main .h2_styling {
  color: #fff;
}
.about-main .para {
  text-align: justify;
  color: #fff;
}

@media (max-width: 767px) {
  .about-main {
    padding: 2rem 1rem;
  }
  .about-main .col-md-12 {
    padding: 0;
  }
  .about-main .h2_styling {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .about-main .para {
    font-size: 1rem;
  }
}
* {
  padding: 0;
  font-size: 18px;
}

.main-section {
  padding: 120px 0;
}
.main-section .h2_styling {
  color: #fff;
  margin-bottom: 20px;
}
.main-section p {
  color: #fff;
}

@media (max-width: 767px) {
  .main-section {
    padding: 2rem 1rem;
  }
  .main-section .col-md-12 {
    padding: 0;
  }
  .main-section .h2_styling {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .main-section .para {
    font-size: 1rem;
  }
}
* {
  padding: 0;
  font-size: 18px;
}

.terms-of-use {
  padding: 120px 0;
}
.terms-of-use .h2_styling {
  color: #fff;
  margin-bottom: 20px;
}
.terms-of-use p {
  color: #fff;
}

@media (max-width: 767px) {
  .terms-of-use {
    padding: 2rem 1rem;
  }
  .terms-of-use .col-md-12 {
    padding: 0;
  }
  .terms-of-use .h2_styling {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .terms-of-use .para {
    font-size: 1rem;
  }
}
* {
  padding: 0;
  font-size: 18px;
}

@media (max-width: 767px) {
  .news {
    margin-top: 2rem !important;
    margin-bottom: 2rem !important;
  }
  .news .col-md-12 {
    padding: 0;
  }
}
* {
  padding: 0;
  font-size: 18px;
}

.careers-main {
  padding: 120px 0;
}
.careers-main .h2_styling {
  color: #fff;
  margin-bottom: 20px;
}

@media (max-width: 767px) {
  .careers-main {
    padding: 2rem 1rem;
  }
  .careers-main .col-md-12 {
    padding: 0;
  }
  .careers-main .h2_styling {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .careers-main .para {
    font-size: 1rem;
  }
}
* {
  padding: 0;
  font-size: 18px;
}

body {
  background: linear-gradient(#19334f, #19334f), linear-gradient(135deg, rgba(11, 111, 117, 0.5), rgba(11, 111, 117, 0.5) 0, rgba(11, 85, 117, 0.5));
}

.h2_styling {
  font-size: 3rem;
  line-height: 3.7rem;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-transform: capitalize;
}

.para {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  line-height: 1.5rem;
}

.button {
  font-size: 1.2rem;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  text-decoration: none;
  padding: 0.5rem 1.5rem;
  background: rgb(41, 157, 130);
  color: #000;
  border-radius: 4px;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99999;
  box-shadow: rgba(0, 0, 0, 0.1) -4px 9px 25px -6px;
}
header .navbar {
  background: rgb(6, 17, 33);
  padding-top: 0;
  padding-bottom: 0;
}
header .navbar .main_logo {
  max-width: 120px;
}
header .navbar .navbar-nav .nav-item .nav-link {
  font-size: 1.1rem;
  font-weight: 500;
  color: #ccc;
  position: relative;
  padding: 19px 5px;
  margin: 0 5px;
  display: inline-block;
}
header .navbar .navbar-nav .nav-item .nav-link::after {
  content: "";
  width: 0;
  height: 1.5px;
  background: linear-gradient(90deg, rgb(131, 58, 180) 0%, rgb(253, 29, 29) 50%, rgb(252, 176, 69) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.7s ease;
}
header .navbar .navbar-nav .nav-item .nav-link:hover {
  color: #fff;
}
header .navbar .navbar-nav .nav-item .nav-link:hover::after {
  width: 100%;
}

.hero-section {
  background: linear-gradient(#19334f, #19334f), linear-gradient(135deg, rgba(11, 111, 117, 0.5), rgba(11, 111, 117, 0.5) 0, rgba(11, 85, 117, 0.5));
  padding: 100px 0;
}
.hero-section .hero-box .hero-text .hero-para {
  color: #ccc;
}
.hero-section .hero-box .hero-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero-section .hero-box .hero-right .hero-btn {
  padding: 0.5rem 1.5rem;
  border: 1px solid transparent;
  transition: all 0.8s ease;
}
.hero-section .hero-box .hero-right .hero-btn:hover {
  background: transparent;
  border: 1px solid;
}

.live-coin-update {
  background: linear-gradient(#19334f, #19334f), linear-gradient(135deg, rgba(11, 111, 117, 0.5), rgba(11, 111, 117, 0.5) 0, rgba(11, 85, 117, 0.5));
  padding: 60px 0;
}
.live-coin-update .tradingview-widget-container iframe {
  max-width: 1320px;
}
.live-coin-update .tradingview-widget-container .tradingview-widget-copyright {
  display: none;
}

.live_coin_mobile {
  display: none;
}

.backlink {
  display: none !important;
}

#label-number {
  font-size: 10px;
}

footer {
  background: linear-gradient(#19334f, #19334f), linear-gradient(135deg, rgba(11, 111, 117, 0.5), rgba(11, 111, 117, 0.5) 0, rgba(11, 85, 117, 0.5));
  color: #fff;
  background: rgb(6, 17, 33);
  padding: 60px 0;
}
footer .container .footer-1st .f_logo {
  max-width: 120px;
}
footer .container .footer-1st .social a {
  text-decoration: none;
  color: #ccc;
  display: inline-block;
}
footer .container .footer-1st .social a:hover {
  color: #fff;
}
footer .container .footer-1st .social a i {
  font-size: 32px;
}
footer .container .footer-1st .social .discord {
  margin-left: 15px;
}
footer .container .footer-2nd .q-links {
  flex-direction: column;
  justify-content: space-between;
}
footer .container .footer-2nd .q-links a {
  text-decoration: none;
  color: #ccc;
  font-weight: 500;
  position: relative;
  margin-top: 15px;
  display: inline-block;
  padding-right: 4px;
}
footer .container .footer-2nd .q-links a::after {
  content: "";
  width: 0;
  height: 1.5px;
  background: linear-gradient(90deg, rgb(131, 58, 180) 0%, rgb(253, 29, 29) 50%, rgb(252, 176, 69) 100%);
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.7s ease;
}
footer .container .footer-2nd .q-links a:hover {
  color: #fff;
}
footer .container .footer-2nd .q-links a:hover::after {
  width: 100%;
}

@media (max-width: 767px) {
  .col-md-6 {
    padding-left: 0;
    padding-right: 0;
  }
  .navbar .navbar-collapse .navbar-nav {
    padding: 10px 0;
  }
  .navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    padding: 8px 0;
  }
  .navbar .navbar-toggler {
    border: 1px solid transparent;
    background: #ccc;
  }
  .navbar .navbar-toggler:focus {
    border: 1px solid #19334f;
    box-shadow: none;
  }
  .hero-section {
    padding: 60px 0;
  }
  .hero-section .hero-box .hero-text .h2_styling {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  .hero-section .hero-box .hero-right {
    margin-top: 2rem;
    justify-content: flex-start;
  }
  .live-coin-update {
    display: none;
  }
  .live_coin_mobile {
    display: block;
  }
  .live_coin_mobile .tradingview-widget-copyright {
    display: none;
  }
  footer .footer-2nd {
    margin-top: 30px;
  }
  footer .footer-2nd .q-links a {
    margin-top: 10px;
  }
}/*# sourceMappingURL=style.css.map */