*{
    padding: 0;
    font-size: 18px;
}
$border-color: #ccc;
$white: #fff;

// Header section styling start
header {
    .navbar{
        .navbar-nav{
            .nav-item{
                .nav-link{
                    font-size: 1.3rem;
                    font-weight: 500;

                    :active{
                        color: rgb(6, 138, 143);
                    }
                }
                
            }
        }
    }
}

// Hero section styling start
.hero-section{

    .hero-box{
        background-color: rgba(158, 145, 145, 0.562);
        border-radius: 10px;

        .hero-text{
            min-height: 45vh;
            display: flex;
            justify-content: center;
            align-items: center;

            .hero-btn{
                padding: 20px 60px;
                font-size: 1.5rem;
            }
        }
    }
}

.card{
    background-color: aliceblue;

    .result{
        border: 1px solid $border-color;
        min-height: 40px;
        border-radius: 8px;
        background: $white;
    }

    .card-body{
        .result_currency{
            display: flex;
            align-items: center;

            .iso{
                margin-left: 10px;
                text-transform: uppercase;
                font-weight: 500;
            }
        }

        .form-group{
            .cm-phone-num{
                padding: 10px 20px;
                background-color: rgb(136, 186, 226);
                display: inline-block;
            }
        }
    }

    .card-footer{
        .msg-details{
            text-transform: uppercase;
        }
    }
}
.live-coin-update{
    margin-top: 80px;
    margin-bottom: 120px;
    .tradingview-widget-container{
        iframe{
            max-width: 1320px;
        }

        .tradingview-widget-copyright{
            display: none;
        }
    }
}
#label-number{
    font-size: 10px;
}