*{
    padding: 0;
    font-size: 18px;
}
$border-color: #ccc;
$white: #fff;
$black: #000;
$gray: #ccc;

.about-main{
    padding: 120px 0;
    background-image: url(../assets/images/WhatsApp_Image_2022-11-17_at_10.58.31_PM-removebg-preview.png);
    background-size: cover;
    .h2_styling{
        color: $white;
    }
    .para{
        text-align: justify;
        color: $white;
    }
    .right-img{
        display: flex;
        justify-content: center;
    }
} 

// Media query for 767px

@media (max-width: 767px){
    .about-main{
        padding: 2rem 1rem;

        .col-md-12{
            padding: 0;
        }
            .h2_styling{
              font-size: 2rem;
              line-height: 2.5rem;
            }
            .para{
                font-size: 1rem;
            }
    }
}