body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
$border-color: #ccc;
$white: #fff;
$black: #000;
$gray: #ccc;

.contact-body{
    padding: 4rem 0;

    .opinion{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        h2{
          color: $white;
          margin-bottom: 30px;  
        }
        p{
            color: $white;
        }
    }

    .contact-form{
        padding: 40px;
        border-radius: 10px;
        background: $gray;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    }
}

// Media query for 767px

@media (max-width: 767px){
    .contact-body{
        padding: 2rem 1rem;

        .opinion{
            h2{
              font-size: 2rem;
              line-height: 2.5rem;
            }
            .para{
                font-size: 1rem;
            }
        }
        .contact-form{
            margin-top: 30px;
            padding: 20px;
        }
    }
}