*{
    padding: 0;
    font-size: 18px;
}
$border-color: #ccc;
$white: #fff;
$black: #000;
$gray: #ccc;


.terms-of-use{
    padding: 120px 0;

    .h2_styling{
        color: $black;
    }
}

// Media query for 767px

@media (max-width: 767px){
    .terms-of-use{
        padding: 2rem 1rem;

        .col-md-12{
            padding: 0;
        }

            .h2_styling{
              font-size: 2rem;
              line-height: 2.5rem;
            }
            .para{
                font-size: 1rem;
            }
    }
}